{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">Admin Dashboard</h2>
    <div class="d-flex flex-wrap gap-2 mb-4">
        <a href="{% url 'admin_add_user' %}" class="btn btn-primary">+ Add Student / Alumni / Admin</a>
    </div>


    <div class="row">

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_users }}</h3>
                    <p>Total Users</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_alumni }}</h3>
                    <p>Total Alumni</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_students }}</h3>
                    <p>Total Students</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_admins }}</h3>
                    <p>Total Admins</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_jobs }}</h3>
                    <p>Total Jobs</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h3>{{ total_mentorships }}</h3>
                    <p>Total Mentorships</p>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}